@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    border: 1px solid red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: auto;
    font-family: 'Roboto', normal;
    font-weight: 400;

}

main {
    background: #EBEBEB;
}

/* Sección header*/

header {
    height: 100px;
    background: #FFF159;
}

nav {
    
    padding-inline: 13rem;
    padding-block: 0.7rem;
    font-size: 13px;
}

nav * a{
    text-decoration: none;
    color: black;
}

.input-group > input::placeholder {
    color: rgba(0, 0, 0, 0.25);    
    font-size: 15px;
    border-right: 1px solid #E6E6E6;
}

.input-group-append > button{
    width: 30px;
    border-left: 1px solid #E6E6E6;}

.login {
    padding-inline-end: 2rem;
}


.navbar-list{
    color: rgba(51, 51, 51, 0.6);
    padding-inline-end: 12rem;
    gap: 1.2rem;
} 

/*Sección novedades*/


article {
    padding-inline: 13rem;
}

/*Sección Pagos*/

.pagos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    margin-top: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    
}

.items-pagos {
    display: flex;
    align-items: center;
    
}

.items-pagos:last-child {
    border-left: 1px solid #EEEEEE;
    height: 100%;
    padding-left: 1rem;
}



.texto-pagos>p{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 0;
    
}

.texto-pagos > a {
    
    font-size: 13px;
    color: #3483FA;
    text-decoration: none;
}


/*Sección Pagos*/

.pagos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    margin-top: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    
}

.items-pagos {
    display: flex;
    align-items: center;
    
}

.items-pagos:last-child {
    border-left: 1px solid #EEEEEE;
    height: 100%;
    padding-left: 1rem;
}


.texto-pagos>p{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 0;
    
}

.texto-pagos > a {
    
    font-size: 13px;
    color: #3483FA;
    text-decoration: none;
}

/* Sección Ofertas*/

.ofertas > h2 {
    padding-bottom: 1rem;
}
.list-cards {
    display: flex;
    flex-direction:row;   
    justify-content: space-between;
    width: 100%; 
}

.card {
    height: 350px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.card-precios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.precios {
    display: flex;
    
    align-items: center;
}

.precios > span:first-child {
    font-size: 23px;
    line-height: 24px;
}

.precios > span:nth-child(2) {
    color: #00A650;   
    font-size: 14px;
    line-height: 16px;
    padding-left: .5rem;
    
}

.envio{
    display: flex;
}

.envio > p {
    padding-top: .3rem;
    padding-right: .3rem;
    color: #00A650;
    font-weight: 600;
    font-size: 13px;
}

.envio > svg {
    margin-top: .3rem;
}

/* footer*/
footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    background-color: #FFFFFF;
    color: #999999;    
}
.fcont{
    margin-left: 206px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.t1footer {
    width: 744px;
    color: #333333;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.debug {
    border: 2px solid red;
}