@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    border: 1px solid red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title-section > a{
    @apply text-sm font-normal text-gray-500 hover:text-gray-900;
    color: #3483FA;
}

body {
    height: auto;
    font-family: 'Roboto', normal;
    font-weight: 400;

}

main {
    background: #EBEBEB;
}

h2 {
    @apply text-2xl font-normal py-5;
    color: #666666;
}

/* Sección header*/

header {
    height: 100px;
    background: #FFF159;
}

nav {
    @apply px-52 py-3 text-sm;
}


.input-group > input::placeholder {
    color: rgba(0, 0, 0, 0.25);    
    font-size: 15px;
    border-right: 1px solid #E6E6E6;
}

.input-group-append > button{
    width: 30px;
    border-left: 1px solid #E6E6E6;}

.login {
    padding-inline-end: 2rem;
}


.navbar-list{
    @apply pr-48 gap-5;
    color: rgba(51, 51, 51, 0.6);
} 

/*Sección novedades*/


article {
    @apply px-52;
}

/*Sección Pagos*/

.pagos {
     @apply flex justify-between items-center h-24 mt-8 bg-white shadow rounded pl-5;
}

.items-pagos {
    @apply flex items-center gap-4;
}

.items-pagos:last-child {
    border-left: 1px solid #EEEEEE;
    height: 100%;
    padding-left: 1rem;
}


.texto-pagos>p{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 0;
    
}

.texto-pagos > a {
    
    font-size: 13px;
    color: #3483FA;
    text-decoration: none;
}


/* Sección Ofertas*/

.ofertas > h2 {
    padding-bottom: 1rem;
}
.list-cards {
    display: flex;
    flex-direction:row;   
    justify-content: space-between;
    width: 100%; 
}

.card {
    height: 350px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.card-precios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.precios {
    display: flex;
    
    align-items: center;
}

.precios > span:first-child {
    font-size: 23px;
    line-height: 24px;
}

.precios > span:nth-child(2) {
    color: #00A650;   
    font-size: 14px;
    line-height: 16px;
    padding-left: .5rem;
    
}

.envio{
    display: flex;
}

.envio > p {
    padding-top: .3rem;
    padding-right: .3rem;
    color: #00A650;
    font-weight: 600;
    font-size: 13px;
}

.envio > svg {
    margin-top: .3rem;
}

/* sec9*/
.sec9 {
    margin-top: 17px;
    font-family: 'Roboto';
    background: #FFFFFF;
}

.sec9_cont {
    margin-left: 206px;
    margin-right: 206px;
    padding-bottom: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.dsec9 {
    width: 400px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tsec9 {
    font-size: 19px;
    color: #4B4B4B;
    display: flex;
    align-items: center;
    text-align: center;
}

.csec9 {
    font-size: 15px;
    color: #999999;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 9px;
}

.vsec9 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: #3483FA;
}

/* Media queries para tamaños de pantalla entre 320px y 1024px */
@media (min-width: 320px) and (max-width: 1024px) {
    .sec9_cont {
        margin-left: 15px;
        margin-right: 15px;
    }

    .dsec9 {
        width: 100%;
        max-width: 400px;
    }

    .tsec9 {
        font-size: 16px;
    }

    .csec9 {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 6px;
    }

    .vsec9 {
        font-size: 12px;
    }
}

/* Media queries para tamaños de pantalla entre 320px y 1024px */
@media (min-width: 320px) and (max-width: 1024px) {
    .sec9_cont {
        margin-left: 15px;
        margin-right: 15px;
    }

    .dsec9 {
        height: auto;
    }

    .tsec9 {
        font-size: 16px;
    }

    .csec9 {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 6px;
    }

    .vsec9 {
        font-size: 12px;
    }
}

/* footer*/
footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    background-color: #FFFFFF;
    color: #999999;    
}

.fcont {
    margin-left: 206px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.t1footer {
    width: 744px;
    color: #333333;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Media queries para tamaños de pantalla entre 320px y 1024px */

@media (max-width: 1024px) {
    .fcont {
        margin-left: 0; /* Remover margen izquierdo en pantallas pequeñas */
    }
    .t1footer {
        width: 100%; /* Ajustar ancho al 100% en pantallas pequeñas */
        flex-wrap: wrap; /* Añadir envoltura de contenido en pantallas pequeñas */
        justify-content: center; /* Centrar elementos en pantallas pequeñas */
        align-items: center; /* Centrar elementos verticalmente en pantallas pequeñas */
        text-align: center; /* Centrar texto en pantallas pequeñas */
    }
}

/* secction 3*/
.sec3 {
    padding-top: 57px;    
}

.cont1sec3 {
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
    height: 87px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.cont2sec3 {
    margin-right: 24px;
    display: flex;
    flex-direction: row;

}

.cont3sec3 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: #FFFFFF;
}

.cont4sec3 {
    margin-top: 20px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    
}

.cont5sec3 {
    margin-top: 29px;
    margin-right: 71px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cont6sec3 {
    display: flex;
    align-items: center;
}

.spansec3 {
    margin-left: 6px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 16px;
}

.divboton {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btonsec3 {
    border: #3483FA;
    margin-right: 30px;
    margin-bottom: 16px;
    height: 48px;
    width: 123.71875px;
    left: 1026.28125px;
    top: 17px;
    border-radius: 6px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    background-color: #3483FA;
}

.suscrib {
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 24px;
}

/* secction 4*/
.pad{
    padding-bottom: 90px;
}
.tsec4 {
    
    margin-top: 40px;
    color: #666666;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sp1sec4 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    text-align: left;
    color: #666666;
}

.sp2sec4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-left: 25px;
    color: #3483FA;
}

.imgsec4 {
    
    margin-top: 21px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containersec4 {
    position: relative;
    width: 384px;
    height: 250px;
    border-radius: 6px;
}

.overlaysec4 {
    width: 366px;
    height: 84.733px;
    position: absolute;
    bottom: 16px;
    padding-left: 16px;
    z-index: 1;
    color: white;
}


.t1-overlay1 {
    position: absolute;
    top: 20px;
    left: 113px;

    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;

}

.t2-overlay1 {
    position: absolute;
    bottom: 22px;
    left: 113px;

    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;

}

.t1-overlay2 {
    position: absolute;
    bottom: 58px;
    left: 113px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;

}

.t2-overlay2 {
    position: absolute;
    bottom: 31px;
    left: 113px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;

}

.t3-overlay2 {
    position: absolute;
    bottom: 6px;
    left: 113px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;

}

/* secction 5*/

.tpsec5 {
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;
    margin-bottom: 19px;
    color: #666666;
    background-color: #EBEBEB;
}
.element-1 {
    border-right: 7px solid #EBEBEB;
}
.element-2 {
    border-left: 7px solid #EBEBEB;
}
.conxsec5 {    
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.t1sec5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #4B4B4B;
}
.t2sec5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #4B4B4B;
}
.t3sec5 {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1px;
    width: 96px;
    height: 36px;
    background: #3483FA;
    border-color: #3483FA;
    border-radius: 2px;
}

/*Sección Tiendas*/

.tiendas-list {
    display: flex;
}

.tiendas > h2 {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
}

.items-tiendas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    height: 340px;
    margin-right: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.items-tiendas > img {
    position: absolute;
    height: 95px;
    transform: translateY(50%);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    
}

.background-tienda {
    width: 284px;
    height: 95px;

}

.product-container > h3 {
    padding-bottom: 1.5rem;
    padding-top: 2.5rem;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;
}

.product-items > a > img{
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    cursor: pointer;
    
}

.product-container > a {
    padding-top: 1rem;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #999999;
    text-decoration: none;
    
}

.product-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-section > h2 > span{
    font-weight: 600;
    font-size: 26px;
}


/* Sección Colecciones */

.colecciones {
    padding: 80px 0;
    
    
}



.title-section h2 span {
    color: #3483FA;
}

.title-section svg {
    margin-left: 10px;
}

.colecciones-list {
    display: flex;
    flex-wrap: nowrap;
    
    
}

.items-colecciones {
    display: flex;
    flex-wrap: wrap;
     
    
}

.items-colecciones a {
    margin: 10px;
}


@media (max-width: 1024px) {
    .title-section h2 {
        font-size: 28px;
    }

    .items-colecciones a {
        margin: 10px;
    }
}

@media (max-width: 768px) {
    .colecciones-list {
        display: flex;
        flex-direction: column;   
    }
    .title-section h2 {
        font-size: 24px;
    }

    .items-colecciones a {
        margin: 5px;
    }
}

@media (max-width: 320px) {
    .colecciones-list {
        display: flex;
        flex-direction: column;   
    }
}

/* Sección Categorías populares*/
.lista-categorias {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    width: 1190px;
    border-radius: 6px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.items-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
    width: 170px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #EAE6E6;
}

.items-categorias > p {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    padding-top: 1rem;
    padding-inline: 1rem;
    margin-bottom: 0;
}

/* Media queries para tamaños de pantalla menores a 1024px */
@media (max-width: 1024px) {
    .lista-categorias {
        width: 100%;
        padding: 1rem; /* Ajustar espacio de padding horizontal */
    }

    .items-categorias {
        width: calc(50% - 1rem); /* Calcular ancho en base a la mitad del ancho y restar el espacio de padding horizontal */
        margin: 0.5rem; /* Añadir espacio de margen */
    }
}

/* Media queries para tamaños de pantalla menores a 768px */
@media (max-width: 768px) {
    .items-categorias {
        width: calc(50% - 1rem);
    }
}

/* Media queries para tamaños de pantalla menores a 576px */
@media (max-width: 576px) {
    .lista-categorias {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .items-categorias {
        width: calc(50% - 1rem);
        margin: 0.5rem;
        box-sizing: border-box; /* Añadir esta propiedad para asegurarse de que el margen esté incluido en el ancho */
    }
}